.popup {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.popupContainer {
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    border-radius: 5px;
    background-color: white;
    padding: 40px 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 45px;
    width: 45px;
    cursor: pointer;
    margin-left: 30px;
}

.input {
    font-size: 25px;
    line-height: 35px;
    width: 540px;
    border-radius: 3px;
    padding: 5px 10px;
}